.evo {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(185, 245, 252);
  background: rgb(11, 21, 62);
  border-radius: 20px;
  margin: 10px auto;
}

.evo h1 {
  color: rgb(185, 245, 252);
  font-size: 20px;
  line-height: 24px;
  margin: 20px auto;
}